In [1]:
import numpy as np
import pandas as pd

In [3]:
df1=pd.read_csv("matches.csv")

In [4]:
df2=pd.read_csv("deliveries.csv")

In [5]:
df1

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [6]:
df2

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [7]:
#27.Replace dismissal_kind NaN values with “not out”.
df2.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [8]:
df2['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field', 'retired out'], dtype=object)

In [9]:
df2['dismissal_kind']=df2['dismissal_kind'].fillna("not out")

In [10]:
df2['dismissal_kind'].unique()

array(['not out', 'caught', 'bowled', 'run out', 'lbw', 'retired hurt',
       'stumped', 'caught and bowled', 'hit wicket',
       'obstructing the field', 'retired out'], dtype=object)

In [11]:
#30.Compute total runs scored by each team in each season.
df1.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2'],
      dtype='object')

In [12]:
df2.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [13]:
data1=df1[["id","season","team1","team2"]]

In [14]:
data2=df2[["match_id","total_runs"]]

In [15]:
result=pd.merge(data1,data2,left_on="id",right_on="match_id",how="inner")

In [16]:
result

,id,season,team1,team2,match_id,total_runs
0,335982,2007/08,Royal Challengers Bangalore,Kolkata Knight Riders,335982,1
1,335982,2007/08,Royal Challengers Bangalore,Kolkata Knight Riders,335982,0
2,335982,2007/08,Royal Challengers Bangalore,Kolkata Knight Riders,335982,1
3,335982,2007/08,Royal Challengers Bangalore,Kolkata Knight Riders,335982,0
4,335982,2007/08,Royal Challengers Bangalore,Kolkata Knight Riders,335982,0
...,...,...,...,...,...,...
260915,1426312,2024,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,1
260916,1426312,2024,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,1
260917,1426312,2024,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,1
260918,1426312,2024,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,1
260919,1426312,2024,Sunrisers Hyderabad,Kolkata Knight Riders,1426312,1

In [17]:
result.groupby(["season","team1","team2"])["total_runs"].sum()

season   team1                team2
2007/08  Chennai Super Kings  Deccan Chargers                292
                              Delhi Daredevils               341
                              Kings XI Punjab                572
                              Kolkata Knight Riders          299
                              Mumbai Indians                 410
                                                            ...
2024     Sunrisers Hyderabad  Kolkata Knight Riders          550
                              Mumbai Indians                 870
                              Punjab Kings                   362
                              Rajasthan Royals               715
                              Royal Challengers Bengaluru    549
Name: total_runs, Length: 919, dtype: int64

In [19]:
data3=df1[["id","season"]]
data4=df2[["match_id","batting_team","total_runs"]]

In [20]:
res=pd.merge(data3,data4,left_on="id",right_on="match_id",how="inner")

In [21]:
res.groupby(["season","batting_team"])["total_runs"].sum()

season   batting_team
2007/08  Chennai Super Kings            2520
         Deccan Chargers                2229
         Delhi Daredevils               2118
         Kings XI Punjab                2464
         Kolkata Knight Riders          1942
                                        ...
2024     Mumbai Indians                 2568
         Punjab Kings                   2487
         Rajasthan Royals               2647
         Royal Challengers Bengaluru    2930
         Sunrisers Hyderabad            3052
Name: total_runs, Length: 146, dtype: int64

In [22]:
#31.Calculate total wickets taken by each bowler across all seasons.
data6=df1[["id","season"]]
data7=df2[["match_id","bowler","is_wicket"]]

In [23]:
res1=pd.merge(data6,data7,left_on="id",right_on="match_id",how="inner")

In [24]:
res1.groupby(["season","bowler"])["is_wicket"].sum()

season   bowler
2007/08  A Kumble              8
         A Mishra             11
         A Nehra              14
         A Nel                 1
         A Symonds             0
                              ..
2024     Washington Sundar     1
         YS Chahal            19
         Yash Dayal           16
         Yash Thakur          12
         Yudhvir Singh         1
Name: is_wicket, Length: 1948, dtype: int64

In [25]:
#32.Find total number of matches played per city.
df1["city"].value_counts()

city
Mumbai            173
Kolkata            93
Delhi              90
Chennai            85
Hyderabad          77
Bangalore          65
Chandigarh         61
Jaipur             57
Pune               51
Abu Dhabi          37
Ahmedabad          36
Bengaluru          29
Visakhapatnam      15
Durban             15
Lucknow            14
Dubai              13
Dharamsala         13
Centurion          12
Rajkot             10
Sharjah            10
Navi Mumbai         9
Indore              9
Johannesburg        8
Ranchi              7
Cuttack             7
Cape Town           7
Port Elizabeth      7
Raipur              6
Kochi               5
Mohali              5
Kanpur              4
East London         3
Kimberley           3
Nagpur              3
Guwahati            3
Bloemfontein        2
Name: count, dtype: int64

In [31]:
#33.Get the average runs per over for each team in the 2017 season.
data8=df1[["id","season"]]
data9=df2[["match_id","over","batting_team","total_runs"]]

In [32]:
res2=pd.merge(data8,data9,left_on="id",right_on="match_id",how="inner")

In [33]:
res=res2[res2["season"]=="2017"]

In [34]:
res

             id season  match_id  over            batting_team  total_runs
136598  1082591   2017   1082591     0     Sunrisers Hyderabad           0
136599  1082591   2017   1082591     0     Sunrisers Hyderabad           0
136600  1082591   2017   1082591     0     Sunrisers Hyderabad           4
136601  1082591   2017   1082591     0     Sunrisers Hyderabad           0
136602  1082591   2017   1082591     0     Sunrisers Hyderabad           2
...         ...    ...       ...   ...                     ...         ...
150455  1082650   2017   1082650    19  Rising Pune Supergiant           0
150456  1082650   2017   1082650    19  Rising Pune Supergiant           0
150457  1082650   2017   1082650    19  Rising Pune Supergiant           1
150458  1082650   2017   1082650    19  Rising Pune Supergiant           2
150459  1082650   2017   1082650    19  Rising Pune Supergiant           2

[13862 rows x 6 columns]

In [35]:
res.groupby(["over","batting_team"])["total_runs"].mean()

over  batting_team
0     Delhi Daredevils               0.873563
      Gujarat Lions                  1.202128
      Kings XI Punjab                1.142857
      Kolkata Knight Riders          1.280000
      Mumbai Indians                 1.043478
                                       ...
19    Kolkata Knight Riders          1.307692
      Mumbai Indians                 1.938272
      Rising Pune Supergiant         1.962500
      Royal Challengers Bangalore    1.696970
      Sunrisers Hyderabad            1.823529
Name: total_runs, Length: 160, dtype: float64

In [ ]:
#34.Find the top 5 batsmen with highest total runs in finals.