In [1]:
import numpy as np

In [4]:
def stimulate_bootstrapping(data,sample_size,no_samples,CI):
    sample_medians=[]
    for i in range(no_samples):
        sample=np.random.choice(data,size=sample_size)
        sample_medians.append(np.median(sample))
    sample_medians=np.array(sample_medians)
    sorted_medians=np.sort(sample_medians)
    per=np.percentile(sorted_medians,CI)
    return (sorted_medians[0], per)

In [5]:
data=np.random.randn(100)
sample_size=30
no_samples=1000
CI=95
stimulate_bootstrapping(data,sample_size,no_samples,CI)

(np.float64(-0.6917978440249075), np.float64(0.4498991131571758))

In [2]:
a=np.array([2,3,4,5,6])

In [3]:
a[0]

np.int64(2)

In [7]:
import pandas as pd
df=pd.read_csv("iris.csv")

In [8]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [9]:
data1=df["sepal_length"]
sample_size=30
no_samples=1000
CI=95
stimulate_bootstrapping(data1,sample_size,no_samples,CI)

(np.float64(5.15), np.float64(6.2))

In [11]:
def stimulate_bootstrapping(data,sample_size,no_samples,CI):
    sample_sd=[]
    for i in range(no_samples):
        sample=np.random.choice(data,size=sample_size)
        sample_sd.append(np.std(sample))
    sample_sd=np.array(sample_sd)
    sorted_sd=np.sort(sample_sd)
    per=np.percentile(sorted_sd,CI)
    return (sorted_sd[0], per)

In [12]:
data1=df["sepal_length"]
sample_size=30
no_samples=1000
CI=95
stimulate_bootstrapping(data1,sample_size,no_samples,CI)

(np.float64(0.5346338310781813), np.float64(0.9633647494057418))